/* navbar  */
#navbar {
    background-color: #f03433;
}

nav .page-activated {
    font-weight: bold;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: rgb(190, 188, 188) !important;
}

/* navbar logo  */
.navbar-logo {
    width: 3rem;
    height: 3rem;
}